/* Necessary for full page carousel*/
html,
body,
header,
#landing-carousel .view {
    height: 100%;
}

/* Carousel*/
#landing-carousel.carousel,
#landing-carousel .carousel-item,
#landing-carousel .carousel-item.active {
    height: 100%;
}
#landing-carousel .carousel-inner {
    height: 100%;
}
#landing-carousel .carousel-item {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
#landing-carousel .carousel-item:nth-child(1) {
    background-image: url("/photos/vinha04.jpg");
}
#landing-carousel .carousel-item:nth-child(2) {
    background-image: url("/photos/vinha03.jpg");
}
#landing-carousel .carousel-item:nth-child(3) {
    background-image: url("/photos/balao.jpg");
}
#landing-carousel .carousel-item:nth-child(4) {
    background-image: url("/photos/vinha02.jpg");
}

#landing-carousel.carousel .carousel-indicators li {
    width: 2.625rem;
    height: .425rem;
    border-radius: 0;
}




.carousel-item .title {
    font-family: "Oswald";
    font-size: 70px;
    line-height: 85px;
    font-weight: 400;
    letter-spacing: 8px;
    word-spacing: 4px;
}

.carousel-item .sub-title {
    font-family: "Oswald";
    font-size: 30px;
    letter-spacing: 5px;
    font-weight: 300;
    margin-bottom: 70px;
}

.carousel-item .topsub-title {
    font-family: "Oswald";
    font-weight: 300;
    letter-spacing: 2px;
    margin-bottom: 0;
}

.carousel-item .topsub-title:after {
    content: "";
    display: block;
    width: 200px;
    height: 4px;
    margin: 20px auto 0;
    background-color: transparent;
    border-width: 1px 0;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.3);
}


.clients-carousel li {
    padding: 0 20px;
    opacity: 0.8;
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 3.5+ */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
    transition: all 0.7s ease;
}
.clients-carousel li:hover {
    opacity: 1;
    filter: none;
    -webkit-filter: grayscale(0%);
}

.clients-carousel img {
    max-height: 102px;
}