/* Your custom styles */
body {
	font-family: "Open Sans";
	color: #808080;
	font-weight: 400;
	font-size: 14px;
	line-height: 26px;
	word-spacing: 2px;
	-webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: "Oswald";
	letter-spacing: 1px;
	font-weight: 400;
}

.navbar {
	font-family: "Oswald";
	letter-spacing: 1px;
	font-weight: 300;
}
.navbar.navbar-dark .navbar-nav .nav-item .nav-link {
    padding-left: 20px;
    padding-right: 20px;
}

html,
body,
header,
#intro {
    height: 100%;
}

#intro {
    background: url("/photos/vinha04.jpg")no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.top-nav-collapse {
    /*background-color: #1b7cbf;*/
    background-color: #fff;
}