/* Your custom styles */
body {
	font-family: "Open Sans";
	color: #808080;
	font-weight: 400;
	font-size: 14px;
	line-height: 26px;
	word-spacing: 2px;
	-webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: "Oswald";
	letter-spacing: 1px;
	font-weight: 400;
}

.navbar {
	font-family: "Oswald";
	letter-spacing: 1px;
	font-weight: 300;
}
.navbar.navbar-dark .navbar-nav .nav-item .nav-link {
    padding-left: 20px;
    padding-right: 20px;
}
.top-nav-collapse {
    /*background-color: #2196f3;*/
    background-color: #0f75e6;
}


/* Necessary for full page intro*/
html,
body,
header,
#intro {
    height: 100%;
}

#intro {
    background: url("/photos/vinha04.jpg")no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
/*./ Necessary for full page intro*/


/*-- Sections --*/

section:nth-child(odd) {
	background-color: #fcfcfc;
}

section:nth-child(even) {
	background-color: #fff;
}

section.pub {
    background-position: top center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #000;
}

section.pub > div {
	padding: 100px 0;
	box-shadow: inset 2px 2px 3px rgba(0,0,0,0.5);
} 

section .title {
	font-family: "Oswald";
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 2px;
    font-size: 28px;
}
section .title:before {
  content: "";
  display: block;
  width: 72px;
  height: 28px;
  background: url(/img/logo/logo_sm.png);
  background-size: 72px 28px;
  margin: 0 auto;
}

section .titlenoimg {
	font-family: "Oswald";
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 2px;
    font-size: 28px;
}

section .subtitle {
	font-family: "Oswald";
    text-transform: uppercase;
    font-size: 38px;
    line-height: 58px;
    font-weight: 700;
    letter-spacing: 3px;
}

section .title:after,
section .titlenoimg:after {
	content: '';
    display: block;
    width: 80px;
    height: 1px;
    background-color: #0f75e6;
    margin: 15px auto 20px;
}


#tours .card {
	border-radius: 0;
}


.backink {
	background-image: url('/img/mapa_cinza.png'); /* fallback for older browsers */

	background-image: linear-gradient(to bottom, rgba(255,255,255,0.9) 0%,rgba(255,255,255,0.9) 100%), url('/img/mapa_cinza.png');
	background-position: center right;
	background-repeat: no-repeat;
}




.fixed-action-btn {
    position: fixed;
    z-index: 998;
    right: 35px;
    bottom: 35px;
    margin-bottom: 0;
    padding-top: 15px;
}



.btn-floating {
    width: 47px;
    height: 47px;
    position: relative;
    z-index: 1;
    vertical-align: middle;
    display: inline-block;
    overflow: hidden;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    margin: 10px;
    border-radius: 50%;
    padding: 0;
    cursor: pointer;
    box-shadow: 0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15);
}

.btn-floating.btn-lg {
    width: 61.1px;
    height: 61.1px;
}

.btn-floating:hover {
    box-shadow: 0 8px 17px 0 rgba(0,0,0,.2), 0 6px 20px 0 rgba(0,0,0,.19);
}

.btn-floating i {
    font-size: 1.25rem;
    line-height: 47px;
}

.btn-floating i {
    display: inline-block;
    width: inherit;
    text-align: center;
    color: #fff;
}

.btn-floating.btn-lg i {
    font-size: 1.625rem;
    line-height: 61.1px;
}


.blue {
	background-color: #0f75e6 !important;
}

.blue-text {
	color: #0f75e6 !important;
}


.w-auto {
	width: auto;
}